#hello{
    padding-bottom: 0.3%;
    zoom: 150%;
}


.header{
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 7%;
    color: white;

}
.link{
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 5%;
    color: white;
     
}

.link2{
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 2%;
    color: white;
    zoom: 80%;
     
}

#aktob{
    font-size: large;
}

.space{
    size: 20%;
}

#also{
    padding-top: 5%;
    padding-bottom: 3%;
    zoom: 170%;
}
