#hello{
    padding-bottom: 0.3vh;
    zoom: 150%;
}


.header{
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 6vh;
    padding-bottom: 0%;
    color: white; 


}
.link{
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 5vh;
    color: white;
     
}

.link2{
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 2vh;
    color: white;
    zoom: 80%;
     
}

#aktob{
    font-size: large;
}

.space{
    height: 7vh;
}

.spacing2{
    height: 5vh;
}
#press{
    zoom: 1.2;
}
